body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('../src/NuWav_crop.png');
  background-size: 1550px 730px;
  background-position: center;
  background-attachment: fixed; /* Make background fixed */
  /*height: 100vh; /* Full height */
 /* width: 100vw;  /* Full width */
  color: #fff;   /* White text */
}

html, body, #root {
  height: 100%;
}

.padding-fromNav {
  padding-top: 70px; /* Adjust this value based on the height of your navbar */
}

.fixed-navbar {
  position: fixed;
}

.dropzone {
  border: 2px black; 
  border-radius: 5px; /* Optional: Rounded corners */
  padding: 20px; /* Optional: Spacing inside the dropbox */
  text-align: center; /* Center the text */
  background-color: #f9f9f9; /* Optional: Light background color */
}

.dropzone:hover {
  border-color: #0056b3; /* Change the border color on hover */
  background-color: #e9ecef; /* Optional: Change background on hover */
}


.custom-offcanvas {
  width: 800px; /* Adjust the width as needed */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: #fff;   /* White text */
}
